
.Body {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
  color: white;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Presenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.ZipBox {
  margin-bottom: 20px;
}

.Footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #aceb98;
  height: calc(0.1 * 100vh);
  margin-top: auto;
}

.Footer .Link {
  color: #282c34;
}

.Meme {
 /*
  The meme should be an image or gif overlaid with text
  Something like a "card"
  */
}


